@inject IStudentRepository _studentRepository
@model Student
<form method="post"
      asp-controller="home"
      asp-action="create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Major" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select
                asp-for="Major"
                asp-items="Html.GetEnumSelectList<MajorEnum>()">
                <option value="">請選擇</option>
            </select>
            <span asp-validation-for="Major" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <div class="form-group row">
        <div class="col-sm-10">
            學生總人數 = @_studentRepository.GetAllStudents().Count().ToString()
        </div>
    </div>
</form>