@model MockSchoolManagement.ViewModels.HomeDetailsViewModel;
@*@{var student = ViewData["Student"] as Student;}*@
@{ 
    ViewBag.Title = "Student Details";
}
<h1>@Model.PageTitle</h1>

<ul>
    <li>
        Name: @Model.Student.Name
    </li>
    <li>
        Mail: @Model.Student.Email
    </li>
    <li>
        Major: @Model.Student.Major
    </li>
</ul>
@section Scripts {
    <script>
        console.log("details")
    </script>
} 