@model IEnumerable<MockSchoolManagement.Models.Student>;
@{
    ViewBag.Title = "Student List";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>Major</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td> @student.Id </td>
                <td>  @student.Name  </td>
                <td>  @student.Major </td>
            </tr>
        }

    </tbody>
</table>
@section Scripts {
    <script>
        console.log("index")
    </script>
} 