@model IEnumerable<Student>
@{
    ViewBag.Title = "Student List";
}

<div class="card-deck">
    @foreach (var student in Model)
    {
        var photoPath = "~images/" + (student.PhotoPath ?? "noimage.png");
        <div class="card m-3">
            <div class="card-header">
                <h3 class="card-title">@student.Name</h3>
            </div>
            <img src="@photoPath" alt="@student.Name" class="card-img-top" asp-append-version="true">
            <div class="card-body text-center">
                <h5 class="card-title">Major: @student.Major</h5>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" class="btn btn-info" asp-action="Details">Check</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script>
        console.log("index")
    </script>
} 