<h3>Error Page</h3>
<h5>Plase contact abc@gmail.com</h5>
<hr />
<h3>Erroe Message</h3>
<div class="alert alert-danger">
    <h5>error path</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>error Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>error trace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>